:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{lang: "en"}
  = render ('app/partials/head.haml')
  %body
    %section.home
      = render ('app/partials/navbar.haml')

      -# %section.banner-about
        .banner-img
          %img.img-responsive{:src => "assets/img/about.jpg"}
          .banner-mask
            .banner-inf
              %h1.wow.animated.fadeInUp{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.2s'  } quiénes somos
              %p.wow.animated.fadeInUp{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.9s'  } CADERCO NACE HACE MAS DE 65 AÑOS, DEDICADOS A BRINDAR SERVICIOS DE AGENCIAMIENTO ADUANAL PARA FACILITAR A NUESTROS CLIENTES LAS OPERACIONES DE EXPORTACIÓN, IMPORTACIÓN.
    
    -# %section.about-inf
    -#   .container
    -#     .about-content-inf
    -#       %p 
    -#         En caderco nos sentimos orgullosos con la Experiencia que hemos obtenido en el Mercado , 
    -#         además de contar con un personal altamente competente y comprometido en la prestación de los Servicios, 
    -#         estamos a orientados en Brindar servicios de excelencia para Satisfacer las Necesidades de Nuestros Clientes.
    -#       // %p En Caderco nuestro compromiso consiste en satisfacer las necesidades de nuestros clientes enmarcados en el contexto actual y orientados hacia nuestra dirección estratégica.
    -#     - about = [{title: 'Misión', description: 'Brindar servicios de Agenciamiento Aduanal, Agenciamiento Naviero, Operación Portuaria y Manejo de Materiales y Desechos Peligrosos mediante la implementación eficaz de nuestro Sistema de Gestión de la Calidad.'},{title: 'Visión', description: 'Posicionarnos a nivel nacional como proveedor de soluciones integrales en el área de servicios de Agenciamiento Aduanal, Agenciamiento Naviero, Operación Portuaria, Manejo de Materiales y Desechos Peligrosos.'},{title: 'Políticas de calidad', description: 'En caderco nuestro compromiso consiste en satisfacer las necesidades de nuestros clientes enmarcados en el contexto actual y orientados hacia nuestra dirección estratégica.'}]
    -#     .row.line 
    -#       - about.each_with_index do |about, x|
    -#         .col-lg-4{ class: "after-circle-#{x}"}
    -#           .card-about
    -#             .card-about-title
    -#               %h3= about[:title]
    -#             .card-about-content
    -#               %p= about[:description]

    -# %section.team-about
    -#   .container
    -#     .row
    -#       .col-lg-6
    -#         .team-about-image.wow.animated.fadeInLeft{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.2s'  }
    -#           %img{:src=>"assets/img/team.jpg", :alt=>""}

    -#       .col-lg-6
    -#         .team-about-content.wow.animated.fadeInRight{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.2s'  }
    -#           .team-about-title
    -#             %h1 Nuestro gran 
    -#             %span equipo
    -#           %p En nuestro equipo contamos con profesionales en las distintas formaciones, todos trabajamos bajo la misma metodología para así brindar el mejor servicio a nuentros clientes.
    %section.team-about.team-view-about
      .mask
        %img{ :alt => "", :src => "assets/img/gears3.png"}/
      .container
        .content-about-title
          %h1 Quienes Somos
        .row
          .col-lg-5.top
            .team-about-image.image-cover.wow.animated.fadeInLeft{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.2s'  }
              %img{:src=>"assets/img/team.jpg", :alt=>""}
          .col-lg-7.bottom
            .team-about-content.wow.animated.fadeInRight{ 'data-wow-duration' => '1500ms', 'data-wow-delay' => '.2s'  }
              .team-about-title
                %h1 SERVITECA 2609, C.A
                -# %span equipo
              %p.about-description Somos una empresa la cual desde hace 5 años empezó a funcionar y fue creada formalmente en Junio de 2017, la empresa nació de la idea de un grupo de jóvenes técnicos pertenecientes a un taller autorizado de la marca Atlas Copco en Venezuela, con ganas de emprender y salir adelante, deciden formar un taller de servicio, venta, asesoría, mantenimiento a compresores de aire comprimido de alta y baja presión, con la visión de expandirse en el mercado a nivel nacional e internacional, prestando servicio a otras marcas tales como Ingersoll Rand, Sullair, Sullivan, Kaeser, Betico, Abac, Vtm, Kaishan entre otros, con la finalidad de abarcar un mercado el cual esta desatendido.
              %p Su personal está constituido por jóvenes emprendedores, capacitados quienes tienen la formación académica, experiencia y herramientas necesarias, debido a su trayectoria laboral decidieron competir en el mercado ya que consideraron su potencial y compromiso en el campo brindándoles seguridad y dándoles un valor agregado a sus clientes.
              -# %a.btn.btn-primary.btn-shadow{:href => "#"} Conocenos

    - teams = [{image: "assets/img/team/1.jpg", name: 'Roberto A. Delmoral', phone: '0412-5025619'}, {image: "assets/img/team/2.jpg",  name: 'José R. Delmoral', phone: '0412-4342295'}, {image: "assets/img/team/3.jpg",  name: 'Roberto J. Delmoral', phone: '0412-1213141'}, {image: "assets/img/team/4.jpg", name: 'José E. Rivero', phone: '0412-1213141'}]
    %section.our_team_area
      .container
        .team-about-content
          .team-about-title
            %h1 Nuestro
            %span equipo
        .team_row.team-carousel
          - teams.each do |team|
            .content-member-team
              .team_membar
                %img{:src=>"#{team[:image]}", :alt=>""}
                .team_content
                  %ul
                    %li
                      %a{ hrerf: ''}
                        %i.fa.fa-facebook
                    %li
                      %a{ hrerf: ''}
                        %i.fa.fa-instagram
                  .name= team[:name]
                  %h6= team[:phone]
        
         
= render ('app/partials/index/_footer.haml')

